<div class="box feature">
  <article class="media">
    <div class="media-left">
      <div class="content">
        <p>
          <strong style="font-size: 2.5rem; color: rgb(207, 213, 224)"><%= title %></strong><br />
          <a style="color: rgb(207, 213, 224);"><%= description %></a>
        </p>
      </div>
    </div>
        
        <div style="float:left; margin-left: 14cm;" class="media-content">
      <img
        src= "<%= image %>"
        alt="Image"
        width="250"
      />
    </div>

  </article>
</div>
