<footer class="footer" style="background-color: rgb(51, 0, 117)">
    <div class="content has-text-centered">
      <p style="font-weight: bolder; color:white">
        <strong style="color: gray">Ichiban</strong> by George Tskitishvili. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
<script src="/scripts/index.js"></script>
</body>
</html>